@{
    ViewData["Title"] = "PrinterRep";
}

<div class="component-wrapper">

    <div class="sdds-col-sm-12">
        <div id="add_div">
            <div class="sdds-col-sm-12" ;>
                <sdds-textfield type="text">
                    <span slot="sdds-label">Namn</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-12" id="add_div">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Märke</span>
                </sdds-textfield>
            </div>

            <div class="sdds-col-sm-12" id="add_div">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Modell</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-12" id="add_div">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Annat</span>
                </sdds-textfield>
            </div>

            <div class="sdds-checkbox-item" id="add_div">
                <input class="sdds-form-input" type="checkbox" name="cb-example" id="cb-option-1">
                <label class="sdds-form-label" for="cb-option-1">
                    Sv
                </label>
            </div>

            <div class="sdds-checkbox-item" id="add_div">
                <input class="sdds-form-input" type="checkbox" name="cb-example" id="cb-option-1">
                <label class="sdds-form-label" for="cb-option-1">
                    Färg
                </label>
            </div>

        </div>

        <div class="sdds-col-sm-12" id="add_button">
            <sdds-button type="primary" text="Lägg till" onclick="location.href='/Home/Scan'"></sdds-button>
        </div>

    </div>

</div>




