@{
    ViewData["Title"] = "PrinterRep";
}

<div class="component-wrapper">
    <div class="sdds-col-sm-12">
        <div style="text-align: left">
            <div class="sdds-col-sm-12";>
                <sdds-textfield type="text">
                    <span slot="sdds-label">Namn</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-12"  style="margin-top: var(--sdds-spacing-element-20);">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Märke</span>
                </sdds-textfield>
            </div>
            
            <div class="sdds-col-sm-12" style="margin-top: var(--sdds-spacing-element-20); ">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Attribut 3</span>
                </sdds-textfield>
            </div>
        </div>

        <div class="sdds-col-sm-12" style="margin-top: var(--sdds-spacing-element-48);">
            <sdds-button type="primary" text="Lägg till" onclick="location.href='/Home/Search'"></sdds-button>
        </div>

     </div>
</div>



  
