@{
    ViewData["Title"] = "PrinterRep";
}

<div class="component-wrapper">
    <div class="sdds-col-sm-12">
        <div style="text-align: center">
            <div class="sdds-col-sm-6">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Namn</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-6">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Märke</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-6">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Attribut 3</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-4">
                <button class="sdds-btn sdds-btn-primary sdds-btn-fullbleed" style="margin: var(--sdds-spacing-element-24);">Lägg till</button>
            </div>
        </div>
    </div>
</div>


@*Snygga till*@
