@{
    ViewData["Title"] = "PrinterRep";
}

<div class="component-wrapper">
   
    <div class="sdds-col-sm-12">
        <div id="add_div">
            <div class="sdds-col-sm-12";>
                <sdds-textfield type="text">
                    <span slot="sdds-label">Namn</span>
                </sdds-textfield>
            </div>
            <div class="sdds-col-sm-12"  id="add_div">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Märke</span>
                </sdds-textfield>
            </div>
            
            <div class="sdds-col-sm-12" id="add_div">
                <sdds-textfield type="text">
                    <span slot="sdds-label">Attribut 3</span>
                </sdds-textfield>
            </div>
        </div>

        <div class="sdds-col-sm-12" id="add_button">
            <sdds-button type="primary" text="Lägg till" onclick="location.href='/Home/Scan'"></sdds-button>
        </div>

     </div>
   
</div>



  
