@{
    ViewData["Title"] = "PrinterRep";
}




    <div class="component-wrapper" style="text-align: center; justify-content: center; align-items: center; margin: var(--sdds-spacing-layout-160);">
        <div class="sdds-col-sm-12" >
            <sdds-button type="primary" fullbleed text="Scanna" style="width:200px; padding: var(--sdds-spacing-element-16); margin: var(--sdds-spacing-element-16);"></sdds-button>
        </div>

        <div class="sdds-col-sm-12" >
            <sdds-button type="second" fullbleed text="Lägg till skrivare" style="width:200px; padding: var(--sdds-spacing-element-16); margin: var(--sdds-spacing-element-16);"></sdds-button>
        </div>
    </div>





@*<div class="sdds-row">
    <div class="sdds-btn-group" style="background-color:lightgreen" justify-content: center; align-items: center; height: 250px;">
        <div class="sdds-col-sm-6" style="margin: var(--sdds-spacing-element-24);">
            <button id="index-buttons-big-size_scanna" class="sdds-btn sdds-btn-primary sdds-btn-fullbleed" style="width:200px;">SCANNA SKRIVARE</button>
        </div>
        <div class="sdds-col-sm-6" style="margin: var(--sdds-spacing-element-24);">
            <button id="index-buttons-big-size_add" class="sdds-btn sdds-btn-secondary sdds-btn-fullbleed" style="width:200px;">LÄGG TILL SKRIVARE</button>
        </div>
    </div>
</div>*@
