@{
    ViewData["Title"] = "Hej hopp";
}

<p>This is Index-page</p>

    
    <div class="component-wrapper">
        <div class="sdds-btn-group" id="index-buttons-big-size" style="display: flex; justify-content: center; align-items: center; height: 250px;">
                <button id="index-buttons-big-size" class="sdds-btn sdds-btn-primary sdds-btn-fullbleed">SCANNA SKRIVARE</button>
                <button id="index-buttons-big-size" class="sdds-btn sdds-btn-secondary sdds-btn-fullbleed">LÄGG TILL SKRIVARE</button>
        </div>
    </div>

