@{
    ViewData["Title"] = "Hej hopp";
}

<p>This is search-page</p>

    <div class="component-wrapper">
        <div class="sdds-btn-group" style="display: flex; justify-content: center; align-items: center; height: 250px;">
                <button class="sdds-btn sdds-btn-primary sdds-btn-fullbleed" style="width:300px;">SCANNA SKRIVARE</button>
                <button class="sdds-btn sdds-btn-primary sdds-btn-fullbleed" style="width:300px">LÄGG TILL SKRIVARE</button>
        </div>
    </div>

