@{
    ViewData["Title"] = "Hej hopp";
}

<p>This is search-page</p>

<div class="component-wrapper">
    <sdds-table table-title='Truck & drivers data'
                body-data='[{"truck":"L-series","driver":"Miki","country":"USA","mileage":123987},{"truck":"P-series","driver":"Guerra","country":"Sweden","mileage":2000852},{"truck":"G-series","driver":"Ferrell","country":"Germany","mileage":564},{"truck":"R-series","driver":"Cox","country":"Spain","mileage":1789357},{"truck":"S-series","driver":"Montgomery","country":"Croatia","mileage":65},{"truck":"L-series","driver":"Sheryl","country":"Greece","mileage":365784},{"truck":"G-series","driver":"Bojan","country":"Norway","mileage":80957}]'
                filtering>
        <sdds-header-cell column-key='truck' column-title='Truck type' custom-width="120px"></sdds-header-cell>
        <sdds-header-cell column-key='driver' column-title='Driver name' custom-width="120px" sortable></sdds-header-cell>
        <sdds-header-cell column-key='country' column-title='Country' custom-width="90px"></sdds-header-cell>
        <sdds-header-cell column-key='mileage' column-title='Mileage' custom-width="100px" text-align='right'></sdds-header-cell>
    </sdds-table>
</div>

