@{
    ViewData["Title"] = "Hej hopp";
}

<p>This is search-page</p>


@*Search alternativ
    ...........................................................................*@

<div class="sdds-container">
    <div class="sdds-row">
        <sdds-dropdown-filter placeholder="Skrivar-ID"
                              data='[{"value":"opt-1","label":"hp deskjet1"},{"value":"opt-2","label":"hp deskjet2"},{"value":"opt-3","label":"hp deskjet3"}]'>
        </sdds-dropdown-filter>
        <button class="sdds-btn sdds-btn-primary sdds-btn-sm">SÖK</button>
    </div>
  
    @*<sdds-dropdown-filter
    id="myFilter"
    placeholder="Select option">
    </sdds-dropdown-filter>

    <script>
    var data= [
    {"value":"opt-1","label":"Jakarta"},
    {"value":"opt-2","label":"Stockholm"},
    {"value":"opt-3","label":"Barcelona"}
    ];
    var dropdown = document.querySelector('#myFilter');
    dropdown.data = data;
    </script>*@
    @*........................................................................*@
    <div class="sdds-row">
              <div class="sdds-col-sm-6">
            <sdds-textfield type="text" @*placeholder="Placeholder"*@>
                <span slot="sdds-label">Namn</span>
            </sdds-textfield>
           
            <sdds-textfield type="text">
                <span slot="sdds-label">Typ</span>
            </sdds-textfield>
         <button class="sdds-btn sdds-btn-primary sdds-btn-sm">QR-Print</button>
    </div>
</div>
